@import "../../../styling/variables";


.mapOverlay {
	padding: 1rem;
	padding-right: 2.5rem;

	background: $white;

	transform: translateY(-90%);

	filter: drop-shadow(0 0.25rem 0.5rem $dark);

	.overlayContent {
		p {
			margin-bottom: 0.1rem;
		}
	}
}