@import "../../../styling/variables";

$minHeight: 40rem;


.hero {
	width: 100%;
	height: 100%;
	min-height: 85vh;
	margin-top: 1rem;

	padding-top: 0;

	.semicolonWrapper {
		position: absolute;
		top: 3.5rem;
		left: 0;
		z-index: 10;

		width: 100%;
		height: 100%;

		pointer-events: none;

		@include from($desktop) {
			min-height: $minHeight;
		}

		@include until($desktop) {
			display: none;
		}

		.semicolon {
			$width: 14.51rem;
			$height: 49rem;

			position: absolute;
			top: 50%;
			right: 10vmin;

			width: $width;
			height: $height;

			padding: 0 1.45rem;

			background: url("../../../assets/svg/semicolon-dark.svg") center center no-repeat;
			background-size: contain;

			filter: drop-shadow(0 0 1rem rgba(255, 255, 255, 0.75));

			transform: translateY(-30%);

			.headline {
				font-size: 3.9rem !important;
				font-style: italic;
				font-weight: 700;

				line-height: 1.1;
				color: $white;
				white-space: nowrap;

				margin-top: 0.2rem;
				margin-bottom: 0.5rem;
			}

			.subline {
				color: $white;
				font-size: 1.2rem !important;
				font-weight: bold;
				line-height: 1.3;

				margin-top: 1.3rem;
			}
		}
	}

	.slideWrapper {
		margin-top: 3.5rem;

		.slide {
			width: 100%;

			background: transparent center center no-repeat;
			background-size: cover;

			.slideImg {
				height: 80vh;
				max-height: 80vh;

				@include from($desktop) {
					min-height: $minHeight;
				}
			}
		}
	}

}

.flowersContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;

	transform: translateY(-25%);

	> div {
		@for $i from 1 through 20 {
			&:nth-child(#{ $i }) {
				@if (random(100) <= 50) {
					transform: translateY(percentage(-1 + (random(100) / 100))) scaleX(-1);
				} @else {
					transform: translateY(percentage(-1 + (random(100) / 100)));
				}
			}

		}

		@include from($tablet) {
			&:nth-child(3n) {
				display: initial !important;
			}
		}

		@include tablet() {
			&:nth-child(3n) {
				display: none;
			}
		}

		@include mobile () {
			&:nth-child(2n) {
				display: none;
			}
		}
	}
}

.videoBtnWrapper {
	position: absolute;
	z-index: 10;
	top: 50%;
	left: 50%;

	cursor: pointer;

	transform: translate(-50%, -50%);

	&:hover {
		.circle,
		.videoBtn {
			background: $info;
		}

		.circle {
			transform: scale(1.1);
		}

		.videoBtn {
			transform: translateY(0.25rem);
		}
	}

	.circle,
	.videoBtn {
		font-weight: bold;
		font-size: 1.1rem;

		transition:
			background $easing-fast,
			transform $easing-slower;
	}

	.circle {
		width: 6rem;
		height: 6rem;

		display: flex;
		justify-content: center;
		align-items: center;

		margin: 0 auto;

		border-radius: 50%;

		background: $dark;

		&:after {
			width: 0;
			height: 0;

			content: "";

			border-style: solid;
			border-width: 1.5rem 0 1.5rem 2.25rem;
			border-color: transparent transparent transparent $white;

			transform: translateX(0.25rem);
		}
	}

	.videoBtn {
		margin-top: 1rem;

		color: $white;

		background: $dark;

		&:hover {
			border-color: transparent;
		}

		&:before,
		&:after {
			position: absolute;
			content: "";
		}
	}

}

.overlay {
	.overlayContent {
		max-height: 100vh;

		padding: 4rem !important;

		background: transparent !important;

		@include from($tablet) {
			max-width: 60vw;
		}


		.vimeoWrapper {
			position: relative;

			padding: 56.25% 0 0 0;

			.vimeoIframe {
				position: absolute;
				top: 0;
				left: 0;

				width: 100%;
				height: 100%;

				animation-name: fade-in;
				animation-fill-mode: forwards;
				animation-duration: 1s;

				@keyframes fade-in {
					from {
						background: transparent;
					}

					to {
						background: $dark;
					}
				}
			}
		}
	}

	.overlayCloseIcon {
		color: $white;
		font-size: 6rem !important;

		&:hover {
			opacity: 0.75;
		}
	}
}
