@import "../../../../styling/variables";


.legend {
	max-height: 90vh;

	overflow-y: scroll;

	flex-direction: column;

	cursor: default;

	.label,
	.labelFull {
		padding-right: 1rem;
		text-align: right;

		color: inherit;
	}

	.labelFull {
		text-align: left;
	}

	.building {
		color: $white;

		&.active {
			color: $info;
		}

		.buildingLabel {
			width: 5rem;
			min-width: 5rem;
			max-width: 5rem;
		}

		.projectsList {
			transform: translateX(-0.15rem);

			.project {
				display: flex;

				margin-bottom: 0.5rem;

				&.active {
					.name {
						color: $dark;

						background: $white-ter;
					}

					.room {
						background: $danger;
					}
				}

				.name,
				.room {
					padding: 0 0.2rem;
					margin-right: 0.75rem;

					white-space: nowrap;
					color: $white;

					cursor: pointer;

					background: transparentize($grey-darker, 0.5);

					p {
						color: inherit !important;
					}
				}

				.room {
					display: flex;
					align-items: center;
					justify-content: center;

					padding: 0.2rem 0.7rem;

					font-size: 1rem !important;
					font-weight: bold;
					font-style: italic;

					background: $grey;
				}
			}
		}
	}

}