@import "../../../styling/variables";


$border: 1px solid $grey-lighter;


.description {
	margin-bottom: 3rem;
}

.sectionHeader {
	align-items: flex-end;
}

.table {
	width: 100%;

	.row {
		border-bottom: $border;

		.cell {
			padding: 1.5rem 1.5rem;

			&.hours {
				white-space: nowrap;
				text-align: center;
				vertical-align: middle;
			}

			.event {

			}
		}
	}
}


