@import "../../../../styling/variables";


.navComponent {
	@include mobile () {
		&:after {
			position: absolute;
			top: 0;
			right: 0;
			z-index: 10;
			bottom: 0;

			width: 3rem;

			content: "";

			background:
				linear-gradient(
					to right,
					transparentize($dark, 1),
					$dark
				);
		}
	}
}

.navContainer {
	position: relative;

	display: inline-flex !important;
	justify-content: flex-start;
	align-items: center;

	@include mobile () {
		overflow-x: scroll;
		overflow-scrolling: touch;
		-webkit-overflow-scrolling: touch;
	}

	.navEndContainer {
		display: flex;
		justify-content: center;
		align-items: center;

		margin-left: auto;
		padding-right: 1.5rem;

		@include until($tablet) {
			justify-self: flex-end;
		}
	}
}

.logoContainer {
	display: inline-flex;
	justify-content: center;
	align-items: center;

	padding: 0.5rem 0;
	margin-left: 0 !important;

	.logo {
		padding: 0 1rem;

		@include from($desktop) {
			padding-left: 0;
		}
	}
}


.navItemContainer {
	padding: 0 1.5rem !important;

	&:last-child {
		padding-right: 0;
	}

	.navItem {

	}
}
