@import "variables";


html,
body {
	padding-top: 0 !important;

	hanging-punctuation: first;
}

body {
	overflow-x: hidden;
}

.columns {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.button {
	$padding: 1.25rem;

	padding-left: $padding;
	padding-right: $padding;

	font-weight: 600;
}

.buttons .button:not(:last-child):not(.is-fullwidth) {
	margin-right: 1.5rem;
}

.oembed {
	position: relative;

	width: 100%;

	padding-top: percentage(9/16);

	iframe {
		position: absolute;
		top: 0;
		left: 0;

		width: 100%;
		height: 100%;
	}
}
