// https://gist.github.com/VictorOtavio/e0576b755a49ef3682354091c6911dcb#gistcomment-2669676
$sizeUnit: rem;
$marginKey: "has-margin";
$paddingKey: "has-padding";
$separator: "-";
$sizes: (
	("none", 0),
	("xxs", 0.125),
	("xs", 0.25),
	("sm", 0.5),
	("md", 1),
	("lg", 2),
	("xl", 4),
	("xxl", 8)
);
$positions: (
	("top", "top"),
	("right", "right"),
	("bottom", "bottom"),
	("left", "left")
);

@function sizeValue($key, $value) {
	@return if($key == "none", 0, $value + $sizeUnit);
}

@each $size in $sizes {
	$sizeKey: nth($size, 1);
	$sizeValue: nth($size, 2);

	.#{$marginKey}#{$separator}#{$sizeKey} {
		margin: sizeValue($sizeKey, $sizeValue) !important;
	}

	.#{$paddingKey}#{$separator}#{$sizeKey} {
		padding: sizeValue($sizeKey, $sizeValue) !important;
	}

	@each $position in $positions {
		$posKey: nth($position, 1);
		$posValue: nth($position, 2);
		.#{$marginKey}#{$separator}#{$posKey}#{$separator}#{$sizeKey} {
			margin-#{$posValue}: sizeValue($sizeKey, $sizeValue) !important;
		}
		.#{$paddingKey}#{$separator}#{$posKey}#{$separator}#{$sizeKey} {
			padding-#{$posValue}: sizeValue($sizeKey, $sizeValue) !important;
		}
	}
}


$flexJustifyContent: (
	("center", "center"),
	("flex-start", "start"),
	("flex-end", "end")
);

@each $justify in $flexJustifyContent {
	.is-flex-justify-#{ nth($justify, 2) } {
		justify-content: #{ nth($justify, 1) };
	}

	.is-flex-align-#{ nth($justify, 2) } {
		align-items: #{ nth($justify, 1) };
	}
}