// main variables
$easing-fast: 100ms ease-in-out;
$easing-default: 200ms ease-in-out;
$easing-slower: 400ms ease-in-out;


// colors
$color-bright: #f9f9f9;

// font paths
$font-path-fhp-sun: "../assets/fonts/fhp-sun";


// bulma
$dark: #13110E;
$danger: #FF7495;
$text: $dark;
$link: #108DDB;
$primary: #04121E;
$white: $color-bright;

$body-background-color: $white;

// section
$section-padding: 0;


// button
$control-border-width: 0.1rem;


// fonts
$family-primary: "FHP Sun";
$family-secondary: $family-primary;
$body-family: $family-secondary;
$family-sans-serif: $family-secondary;


// title
$title-color: $text;


// form
$input-color: #FFF;
$input-hover-color: #FFF;
$input-background-color: #201F1F;
$input-placeholder-color: rgba(255, 255, 255, 0.43);


// bulma
@import '~bulma/sass/utilities/all';