@import "../../../styling/variables";


.overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100000;

	width: 100vw;
	height: 100vh;

	pointer-events: none;

	display: flex;
	justify-content: center;
	align-items: center;

	&.active {
		pointer-events: all;

		.background {
			animation: fade-in $easing-slower;
			animation-iteration-count: 1;
			animation-fill-mode: forwards;
		}

		.content {
			animation: fly-in $easing-slower;
			animation-iteration-count: 1;
			animation-fill-mode: forwards;
		}
	}

	.background {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 0;

		width: 100%;
		height: 100%;

		opacity: 0;

		background: transparentize($dark, 0.1);

		animation-fill-mode: backwards;
	}

	.content {
		position: relative;
		z-index: 1;

		width: 100%;

		padding: 2rem;

		opacity: 0;

		border-radius: 0.25rem;

		background: $white;

		.closeButton {
			position: absolute;
			top: 0;
			right: 0;

			cursor: pointer;

			line-height: 2rem;
			font-size: 3rem;

			padding: 1rem;
		}
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fly-in {
	from {
		opacity: 0;
		transform: translateY(100vh);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}