.flower {
	position: relative;

	width: 3.5rem;
	height: 7rem;

	.blossom {
		animation: rotation 8s linear;
		animation-fill-mode: forwards;
		animation-iteration-count: infinite;
	}

	.stem {
		position: absolute;
		top: 1.6rem;
		left: 50%;

		transform: translateX(-50%);
	}
}

@keyframes rotation {
	from { transform: rotate(0); }
	to { transform: rotate(359deg); }
}
