@import "../../../styling/variables";


.section {
	padding-top: 5rem;
	padding-bottom: 5rem;

	@include mobile() {
		padding-top: 3rem;
		padding-bottom: 3rem;
	}

}

.isDark {
	width: 100%;
	padding-top: 5%;

	display: block;

	clip-path: polygon(0 0, 0% 100%, 100% 100%);

	background: $dark;

	&.isBottom {
		transform: scale(-1);
	}
}
