.svgWrapper {
	background:
			url("./assets/map-labels.svg") center center no-repeat,
			url("./assets/map.svg") center center no-repeat;

	background-size: contain, contain;

	transform: rotate(10deg);
}