@import "../../../../styling/variables";

.event {
	display: flex;
	justify-content: flex-start;
	align-items: stretch;

	margin: 0 1rem;
	margin-bottom: 1.5rem;

	background: transparentize($grey-lighter, 0.7);

	&.eventActive {
		background: $info;

		.timeData,
		.eventData {
			> * {
				color: $white;
			}
		}

	}

	.timeData,
	.eventData {
		padding: 1rem 1.25rem;
		padding-bottom: 1.75rem;
	}

	.timeData {
		$size: 9rem;

		width: $size;
		max-width: $size;
		min-width: $size;

		border-right: 0.25rem solid $grey-lighter;

		text-align: right;
	}

	.title {
		font-weight: 600;
	}

	.subtitle {
		opacity: 0.6;
	}

	.hasHangingPunctuation {
		display: block;

		&:first-letter {
			display: inline-block;

			margin-left: -0.8rem;
		}
	}

	.timeSlotWrapper {
		position: relative;

		margin-bottom: 1.25rem;

		.timeLabel {
			position: absolute;
			right: calc(100% + 3rem);
			top: 0.15rem;

			width: auto;

			white-space: nowrap;
		}
	}
}