@import "../../../styling/variables";


.supporterWrapper {
	display: flex;
	justify-content: center;
	align-items: center;

	flex-wrap: wrap;

	.supporterImg {
		display: inline-block;

		margin: 0 2rem;
		margin-bottom: 2rem;

		@include mobile () {
			margin-left: 0;
			margin-right: 0;
		}

		&[data-is-full-size] {
			flex: 0 1 100%;
			margin-bottom: 4rem;
		}
	}
}


.description {
	margin-bottom: 3rem;
}