@import "../../../styling/variables";


.imageWrapperLeft {
	margin-bottom: 0.75rem;

	&:last-child {
		margin-bottom: 0 !important;
	}

	@include until($tablet) {
		margin-left: 0;
		margin-bottom: 0.75rem;
	}

	@include from($desktop) {
		margin-left: -6rem;
		margin-bottom: 2rem;
	}
}

.imageWrapperRight {
	margin-bottom: 0.75rem;

	@include from($desktop) {
		margin-right: -6rem;
		margin-bottom: 2rem;
	}
}

.description {
	padding-right: 2rem;

	@include until($tablet) {
		padding-right: 0.75rem;
		padding-bottom: 0 !important;
	}
}

.subtitle {
	hanging-punctuation: none;
}

.projectImage {
	border-radius: 0.2rem;
	overflow: hidden;
}